
.t-header {
    
    background: url('../images/ui/bg4.jpg') fixed  no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;  
    width: 100%;
    min-height: 100vh;

    &__app {         
      margin: 50px auto;
      width: 450px;
      min-height: 500px;
      background: url('../images/ui/bg4.jpg') fixed  no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      overflow: hidden; 
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0);
      &::before {   
        
        width: 500px;
        min-height: 550px;
        content: "";
        position: absolute;
        top: -25px;
        //left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        //box-shadow: inset 0 0 0 300px rgba(14, 16, 19, 0.5);
        box-shadow: inset 0 0 0 300px rgba(116, 204, 255, 0.349);
        filter: blur(5px);
      }
      
    }

    &__app--react {  
      position: relative; 
      display: inline-block;
      width: 450px;
      padding: 20px;
      background: rgba($color: #000000, $alpha: 0.5);
    }

    //--------- Contact Item
    &__contactItem {   
      max-width: 450px;   
      max-height: 100px;
      font-family: $font-montserrat;
      color: rgb(216, 216, 216);
      margin-top: 10px;
      padding: 10px;
      background: rgba($color: #000000, $alpha: 0.3);
      display: flex;
      flex-direction: row;
      &:hover {
        box-shadow: 0 0 8px black;
      }

    }

    &__contactImageContainer {
        width: 25%;
    }

    &__contactInfoContainer {
        width: 75%;
        padding-left: 10px;
    }
    &__contactImage {      
      margin-left: 9px;
      height: 75px;
      border-radius: 50%;
      box-shadow: 1px 1px 8px black;
    }
}

.contactEmail {  
  font-size: 15px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.contactForm {
  margin-bottom: 25px;
  background: rgba($color: #000000, $alpha: 0.3);
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

input {
  padding: 2px;
  color: white;
  margin-bottom: 10px;
  border: none; 
  border-bottom: 2px solid rgb(60, 78, 136);
}

.contactsList {
  margin: 0;
  padding: 0;
}

button {  
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  border: 1px solid black;
  max-width: 150px;
  padding: 10px;
  margin: 7px auto 0;
  background: rgba($color: #000000, $alpha: 0.3);
  transition: $thetransition;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}


